h1, h2, p,  {
  border: 1px solid red;
}

div, body, header, main, section, footer,img {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow:hidden;
}

.header__logo {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.header__title-sbros {
  font-size: 1em;
  margin: 0;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__title {
  width: 720px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle-sbros {
  font-size: 1em;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration{
  width: 756px;
  height: 608px;
  position: absolute;
  right: -42px;
  bottom: 0;
  z-index: 1;
  }

.header__img {
  height: 100%;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: -38px;
  z-index: 0;
}



.content {

}

.description {
  display: flex;
  justify-content: center;
}

.description__two-colums {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;

}
.description__brief {
  width: 175px;
  color: #2f80ed;
}

.description__title-sbros{
  font-size: 1em;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
.description__main-text {
  width: 80%;
  min-width: 784px;
}
.description__paragraph-sbros {
  font-size: 1em;
  margin: 0;
}

.description__paragraph {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-midle {
  margin: 30px 0;
}

.span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}



.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__title {
  width: 60%;
  text-align: center;
}

.digits__title-sbros {
  font-size: 1em;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__subtitle {
  margin-top: 20px;
  width: 60%;
  text-align: center;
}

.digits__subtitle-sbros {
  font-size: 1em;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.digits__table {
  width: 1100px;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.digits__sell {
  width: 250px;
  margin-top: 60px;
}

.digits__sell-h3-sbros {
  font-size: 1em;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.digits__paragraph {
  font-size: 1em;
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}



.feynman {
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__conteiner_title {
  width: 648px;
  margin: 100px auto 70px;

  z-index: 4;

  position: relative;
}

.feynman__title {
  font-size: 1em;
  margin: 0;

  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;

  text-align: center;
}

.feynman__conteiner_subtitle {
  width: 400px;
  margin: 0 auto;

  position: relative;

  z-index: 3;
}

.feynman__subtitle {
  text-align: center;

  font-size: 1em;
  margin: 0;

  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__conteiner_illustration {
  width: 867px;
  height: 637px;

  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 1;
}

.feynman__illustration {
  width: 867px;
  height: 637px;
}

.feynman__conteiner_link {
  width: 240px;

  background-color: #f2f2f2;

  position: absolute;
  top: 50%;
  right: 48px;

  z-index: 5;
}

.feynman__link {
  font-size: 1em;
  margin: 0;

  font-size: 36px;
  color: #2f80ed;
  font-weight: 400;
  line-height: 51px;
  text-decoration: none;
  }



.kaufman {
  background-color: #1f1f1f;
  color: white;

  padding: 90px 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
  overflow:hidden;
}

.kaufman__conteiner_title_theme_dark {
  width: 60%;
  text-align: center;
  z-index: 2;
}

.kaufman__title_theme_dark {
  font-size: 1em;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.kaufman__conteiner_subtitle_theme_dark {
  margin-top: 20px;
  width: 60%;
  text-align: center;
  z-index: 2;
}

.kaufman__subtitle_theme_dark {
  font-size: 1em;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.kaufman__table {
  width: 1100px;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  z-index: 2;
}

.kaufman__table_cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__sell_title {
  font-size: 1em;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.kaufman__paragraph {
  font-size: 1em;
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position:absolute;
  right: -225px;
  top: 0;
  z-index: 0;
  }

.kaufman__img {
  height: 100%;
}



.footer {

}
